{% extends 'main/base.html' %}

{% block maincontent %}

    <div class="display-3">{% block title %}data{% endblock title %}</div>
    <br>
    <p>First, select project from drop-down for which you want to add data. Then, drag-and-drop the folder into the file dropzone. (To upload an entire folder, use drag-and-drop not the file-picker pop-up.)</p>
    <br>

    {{ form.project_id.label(class_='sr-only')}}
    {{ form.project_id(class_='custom-select') }}

    <br><br>

    <script>
        Dropzone.options.myDropzone = {
          headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}"},
          paramName: "file",
          init: function() {
                this.on("sending", function(file, xhr, formData) {
                    formData.append("file_path", file.fullPath);
                    formData.append("project_id", document.getElementById("project_id").options[document.getElementById("project_id").selectedIndex].value);
                });
            }
        }
    </script>

    <form action="{{ url_for('main.data') }}" class="dropzone" id="my-dropzone">
    </form>

{% endblock %}


{% block script %}
{% endblock %}