{% extends 'main/base.html' %}
{% block title %}home{% endblock title %}
{% block maincontent %}

    <br>
    <div class="display-1">welcome</div>
    <br>

    <div class="row">
    This is vesseg, a tool to speed up atherosclerosis research. It is being developed by the Computational Radiology Group at the German Cancer Research Center (DKFZ) in Heidelberg, Germany, in collaboration with the Research Group for Perioperative Vasular Biology at the Clinic for Anaesthesiology at the University Hospital Heidelberg.
    </div>

    <br>
    <div class="row">
    Please direct questions and feedback at jacobmatthewmurray at gmail dot com.
    </div>

{% endblock maincontent %}